.page_header
	.wrap
		.speedbar
			a(href="/") Главная
			span.icon-arrow-speedbar
			| Контакты
		h1.title Контакты
.contact-top
	.contact-top_left
		.content
			h3 Комплекс DOMSMILE
			hr
			strong Московская область,<br>г. Мытищи, улица Колпакова, микрорайон 17, корпус 23
			p Дом Smile возводится в городе Мытищи, на пересечении проспекта Астрахова и улицы Колпакова. Ближайшая автобусная остановка «Ядреево» находится практически рядом с комплексом.
			strong Режим работы офиса продаж:
			hr
			ul
				li
					strong пн.-пт.
					| 9:00-21:00
				li
					strong сб.-вс.
					| 10:00-20:00
			span.phone
				i.icon-phone
				| +7 (495) 123 45 67
	.contact-top_right
		//iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A9b0dd7dcdb2617cf294e9a356e9b0266be500e910bbda4127c545dbbd705967c&amp;source=constructor", frameborder="0", width="100%", height="620")												
.wrap
	.contact-bottom
		.card-map_item
			.map-item_top
				div
					i.icon-metro
				div
					i.icon-map-locale
					span Проложить маршрут
			.map-item_bottom
				p
					| До ближайшей станции метро «Медведково» можно добраться автобусум № 419, маршрутным такси № 169. До центра столицы на метро вы доедете за 15-20 минут (ст. метро «Охотный ряд»).
		.card-map_item
			.map-item_top
				div
					i.icon-train
				div
					i.icon-map-locale
					span Проложить маршрут
			.map-item_bottom
				p
					| Для тех, кому удобно ездить в Москву на электричке, подойдет такой маршрут.<br>Автобусом №15 или №15к, маршруткой №177 или №8 добраться до ж/д станции «Мытищи», а далее электропоездом до Ярославского вокзала. Весь путь у вас займет примерно 40 минут. С Ярославского вокзала вы можете сделать пересадку на кольцевую станцию метро «Комсомольская» и продолжить ваш путь до точки назначения в Москве.
		.card-map_item
			.map-item_top
				div
					i.icon-car
				div
					i.icon-map-locale
					span Проложить маршрут
			.map-item_bottom
				p
					| Для автомобилистов сейчас путь в Москву лежит через Волковское шоссе – Осташковскую и Енисейскую улицы – Проспект Мира. Альтернатива – Ярославское шоссе.<br><br>В перспективе будет построена развязка через улицу Мира, обеспечивающая прямой выезд на Ярославское шоссе (сейчас ограничена путепроводом над ж/д путями).